.text {
    text-align: center;
}
a {
    color: skyblue;
    text-decoration: none;
}
.container {
    color: red;
    font-size: 3rem;
}  
h1 {
    color: red;
    font-size: 1.8rem;
    text-align: right;
}

#nav {
    width: 100%;
    list-style: none;
    overflow: hidden;
  }
   
#nav li {
    width: 25%;
    color: white;
    text-align: center;
    background-color: #191970;
    float: left;
}
.info{
    width: 100%;
    margin: 0 auto;
}
.info_img{
    width: 50%;
    float: left;
}
.info_text{
    color: red;
    width: 30％;
    font-size: 1.5rem;
    float: left;
}
.honbun{
    color: black;
    font-size: 1.0rem;
}
.youtube_link{
    text-align: right;
    
}
    
